$color-bright-gray: #37384c;
$color-cadet-blue: #b2bbc3;
$color-contessa: #C97164;
$color-quicksand: #bc978c;
$color-quarter-spanish-white: #f9f1e7;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22 ,1 );

$z-indexes: (
  'preloader',
  'navigation',
  'content',
  'canvas'
);
